<% content_for :head do %>
  <meta name="turbolinks-cache-control" content="no-cache">
<% end %>

<div class="fill dark">
  <div class="center center-el">
    <div class="fade">
      <% @post.images.each do |post| %>
        <div><%= image_tag post.url, class: "slider-img" %></div>
      <% end %>
    </div>
  </div>
</div>


<div class="content-show">
  <div class="content-post">
    <h1><%= @post.title %></h1>

    <div class="price">
      <h3><%= number_to_currency @post.price, precision: 0 %></h3>
    </div>

    
  </div>

  <div class="padding-1 relative odd-list">

    <div class="padding-05">
      <p class="absolute padding-left-3 left"> Barrio </p>
      <p class="absolute padding-right-3 right"> <%= @post.neighborhood.capitalize %> </p>
    </div>
  </div>
  
  <div class="padding-1 relative odd-list">
      
    <div class="padding-05">
      <p class="absolute padding-left-3 left"> Inmueble </p>
      <p class="absolute padding-right-3 right"> <%= @post.kind.capitalize %> </p>
    </div>
  </div>

  <div class="padding-1 relative odd-list">

    <div class="padding-05">
      <p class="absolute padding-left-3 left"> Area </p>
      <p class="absolute padding-right-3 right"> <%= makeInteger(@post.area) %> m² </p>
    </div>
  </div>


  <div class="padding-1 relative odd-list">
      
    <div class="padding-05">
      <p class="absolute padding-left-3 left"> Cuartos </p>
      <p class="absolute padding-right-3 right"> <%= @post.rooms %> </p>
    </div>
  </div>

  <div class="padding-1 relative odd-list">
    
    <div class="padding-05">
      <p class="absolute padding-left-3 left"> Baños </p>
      <p class="absolute padding-right-3 right"> <%= @post.bathrooms %> </p>
    </div>
  </div>

  <article class="padding-top-2 padding-bottom-2">
    <h2 class="padding-bottom-1 padding-top-1">Otros detalles</h2>
    <p><%= @post.details %></p>
  </article>

</div>




