/*class Home extends React.Component {
	constructor(props) {
		super(props);
		this.state = { toggle: false } 
	}

	componentDidMount() {
		$("#home").bgswitcher({
  		images: [ "<%= asset_path '1.jpg' %>", "<%= asset_path '2.jpg' %>", "<%= asset_path '3.jpg' %>" ]
		});
	}

	componentWillUnmount() {
		$("#home").bgswitcher('destroy');
	}

	render() {
		return(
			<div id="home">
				<div className="welcome">
					<%= image_tag 'logo.png' %>
					<h1 className="welcome-txt">Le ayudamos a encontrar su vivienda deseada</h1>
				</div>
			</div>
		);
	}
}*/



$(window.document).on('turbolinks:load', function() {

	// DOM elements
	let $home = $("#home");

	let images = [ "<%= asset_path '1.jpg' %>", 
									"<%= asset_path '2.jpg' %>", 
									"<%= asset_path '3.jpg' %>" ];

	$home.bgswitcher({ images: images });


});

	












