<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Vergarayvergara</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <nav id="menu" class="menu">
        <ul>
          <%= image_tag 'logo.png', class: 'logotop' %>
          <li><a id="link" href="/">inicio</a></li>
          <li><a id="link" href="/inmuebles">Inmuebles</a></li>
          <li><a id="link" href="/">Sobre nosotros</a></li>
          <li><a id="link" href="/">Contacto</a></li>
          <li id="formbtn">Form</li>
        </ul>
      </nav>
      <%= yield %>
      <%= render 'shared/footer' %>
    </div>
  </body>
</html>