<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, user-scalable=no">
    <title>Vergarayvergara</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= csrf_meta_tags %>
    <% if content_for?(:head) %>
      <%= yield(:head) %>
    <% end %>
  </head>
  
  <body>
    <div class="container">
      <div id="dropdown" class="dropdown">
        <nav id="menu" class="menu">
          <ul>
            <%= image_tag 'logo.png', class: 'logotop' %>
            <li><a id="link" href="/">inicio</a></li>
            <li><a id="link" href="/inmuebles">Inmuebles</a></li>
            <li><a id="link" href="/">Sobre nosotros</a></li>
            <li><a id="link" href="/">Contacto</a></li>
            <li id="menubtn" class="btns-btn">Menu</li>
            <% if controller.action_name == "index" %>
              <li id="formbtn" class="btns-btn">Form</li>
            <% end %>
          </ul>
        </nav>
        <%= yield %>
        <%= render 'shared/footer' %>
      </div>
    </div>
  </body>
</html>